.sidebar{
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 240px;
  border-right: 2px solid rgb(192, 188, 188);
  background-color: white;
}
.sidebarLogo{
  max-width: 100%;
  height: auto;
  margin-bottom: 24px;
}
ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 4px;
  padding: 0;
  margin: 0;
}
li{
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  cursor: pointer;
}
.sidebarLinkActive{
  background-color: #e0e7ff;
  color: #4f46e5;
  padding: 8px 12px;
  border-radius: 8px;

}
.sidebarUser{
  border-top: 2px solid rgb(192, 188, 188);
  margin: 10;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

}
.sidebarLink {
  text-decoration: none;
  color: inherit;
}
.logoutContainer{
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  margin-left: 10px;
  margin-top: auto;
}
.logoutBtn {
  background-color: #14b8a6;
  color: rgb(241, 240, 240);
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
}
